/* flag and country name subheader */

#country-subhead h2 {
  margin-block: 0;
}

#country-subhead h2 .header-flag {
  width: 0.7em;
  display: inline;
  filter: drop-shadow(0px 2px 2px #00000033);
}

/* search box */

#country-input form {
  --label-width: 60px;
  --input-width: 360px;
}

#country-input form label {
  color: grey;
  width: fit-content;
}

#country-input form input[type="search"] {
  border-top: none;
  border-inline: none;
  border-bottom: 1px solid black;
  margin-top: 2px;
}

/* results block */

#results {
  background: #f1f7ed;
  width: fit-content;
  border-radius: 1em;
  padding: 1em;
  margin-block: 1em;
  box-shadow: 0 10px 25px -5px #868a8333;
}

/* results visibility and placeholder styling */

#results:has(#results-off),
#noresults:has(#noresults-off) {
  display: none
}

#noresults h4 {
  color: grey;
  font-weight: normal;
}

/* change statements */

.increase {
  color: orangered;
  margin-block: 0;
}
.decrease {
  color: green;
  margin-block: 0;
}

.small {
  font-size: 70%;
  text-transform: uppercase;
}