# system files
.DS_Store
Thumbs.db

# vscode
.vscode

# r
/renv
.Rhistory

# web dev
/node_modules

# quarto
/.quarto/

# copernicus data store credentials
.Renviron
.cdsapirc

# raw data
/data/raw/old/*.nc
/data/raw/old/*/*.nc
/data/cds/raw
/data/cds/annual
/data/test
